---
layout: page
commens: true
---
<!-- <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script> -->
<div id="post">
  <section class="post-header">
    <h1 class="title">Hello!</h1>
    <p class="subtitle">You can call me Sam</p>
  </section>
  <section class="post-content">
    I'm Samanvya Tripathi an aspiring AI solutions architect currenlty working as Product Engineer at Myelin Foundry. <br>
    I like to work on anything and everything that brings about a positive change in the society. I believe AI has the power to revoutionalise
    every industry there is, and I want to be working on the frontier of this amazing field. <br>

    <h4>What to expect from this website?</h4>
    An ocassional blog post regarding Technology, Tips in Life and Photography. I use this website as a means of communicate with the people
    on the internet and in the best case, help them out! 
  </section>
</div>
<!-- <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="samanvya-tripathi"><a class="LI-simple-link" href='https://in.linkedin.com/in/samanvya-tripathi?trk=profile-badge'>Samanvya Tripathi</a></div> -->

<!-- Footer -->
{% include footer.html %}
