---
layout: page
commens: true
---
<!-- <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script> -->
<div id="post">
  <section class="post-header">
    <h1 class="title">Hello!</h1>
    <p class="subtitle">Welcome to my Blog</p>
  </section>
  <section class="post-content">
    I'm Samanvya Tripathi, an aspiring AI solutions architect currently working as Product Engineer at Myelin Foundry. I like to work on anything and everything that brings about a positive change in the society. I believe AI has the power to revolutionalise
    every industry there is, and I want to be working on the frontier of this amazing field. <br><br>
    I've always wanted to start a blog and share whatever I know with the world. You can find posts on technology and life here. <br><br>
    In my free time you can find me playing chess, send me a <a href="https://www.chess.com/member/samanvyatripathi">friend request here!</a> Let's play sometime.<br>
    I also like to play the guitar, soccer and click photos (or atleast used to). <br><br>
    Feel free to connect with me on any of the social media platforms. <br><br>
    Cheers!
  </section>
</div>
<!-- <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="samanvya-tripathi"><a class="LI-simple-link" href='https://in.linkedin.com/in/samanvya-tripathi?trk=profile-badge'>Samanvya Tripathi</a></div> -->

<!-- Footer -->
{% include footer.html %}
