$theme-color : #1e7f83;
$theme-bright : #488fd1;
$theme-dark : #478ec7;
$theme-dark2 : #0d4863;
$text : rgba(0,0,0,0.8);
$text-gray : rgba(0,0,0,0.54);

%page-padding {
    padding : 0px 15%!important;
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px 15px!important;
    }
}
%posts-padding {
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px!important;
    }
}
%page-nav-btn {
    right : 5%;
    @media (max-width: 991px) {
        right : 3%;
    }
}
